<header class="post-header">
  <div style="display:table; width:100%;">
    <div style="width:45%; float:left; height:60px; display:table-cell; vertical-align:middle;">
      <img src="{{ page.image }}" style="border-radius: 50%; height:60px; float:right; margin-right:30px;">
    </div> 
    <div style="width:54%; float:left; height:60px; display: table-cell; vertical-align: middle; border-left: 2px solid gray;">
      <h1 h1 class="post-title" style="float:left; line-height:60px; margin-left:20px; text-align:center;">{{ page.title }}</h1>
    </div>
  </div>
</header>
